<p-dialog header="¿Olvidaste tu password?" [(visible)]="displayMaximizable" [modal]="true"
  [breakpoints]="{'700px': '100vw'}" [style]="{width: '60vw'}" [maximizable]="true" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false">
  <div class="p-field p-fluid">
    <input id="username1" type="username" aria-describedby="username1-help" pInputText [(ngModel)]="usernameForget"
      placeholder="Email" />
    <p-message severity="error" text="Email is required" *ngIf="usernameForget.length<1 && validLoginForget">
    </p-message>
    <small id="username1-help">La contraseña será enviada a tu correo.</small>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-envelope" label="Enviar" styleClass="p-button-outlined" (click)="enviarMail()">
    </p-button>
  </ng-template>
</p-dialog>


<p-toast [baseZIndex]="10001"></p-toast>
<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Bienvenido</h2>
      <h4 class="animation a2">Inicia sesión con tu usuario ó email</h4>
    </div>
    <div class="form">
      <input #inuser type="email" class="form-field animation a3" placeholder="Email Address" [(ngModel)]="username"
        (keypress)="keypressUsername($event)">
      <p-message severity="error" text="Email is required" *ngIf="username.length<1 && validLogin">
      </p-message>
      <input #inpass type="password" class="form-field animation a4" placeholder="Password" [(ngModel)]="password"
        (keypress)="keypressPassword($event)">
      <p-message severity="error" text="Password is required" *ngIf="password.length<1 && validLogin">
      </p-message>
      <p class="animation a5"><a (click)="showMaximizableDialog()">¿Olvidaste tu password?</a></p>
      <p-progressBar mode="indeterminate" [style]="{'height': '3px'}" *ngIf="loggingLogin"></p-progressBar>
      <button pButton type="button" icon="pi pi-check" iconPos="left" label="Log In" class="animation a6"
        (click)="login()"></button>
    </div>
  </div>
  <div class="right"></div>
</div>
