<p-overlayPanel #op [showCloseIcon]="true" [dismissable]="true">
  <ng-template pTemplate>
    <div class="p-field p-fluid">
      <input id="username1" type="username" aria-describedby="username1-help" pInputText [(ngModel)]="value4"
        placeholder="Email" />
      <small id="username1-help">La contraseña será enviada a tu correo.</small>
    </div>
    <div class="p-field">
      <p-button icon="pi pi-envelope" label="Enviar" styleClass="p-button-outlined" (click)="op.hide()" ></p-button>
    </div>
  </ng-template>
</p-overlayPanel>


<p-toast></p-toast>
<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Bienvenido</h2>
      <h4 class="animation a2">Inicia sesión con tu usuario ó email</h4>
    </div>
    <div class="form">
      <input #inuser type="email" class="form-field animation a3" placeholder="Email Address" [(ngModel)]="username"
        (keypress)="keypressUsername($event)">
      <p-message severity="error" text="Email is required" *ngIf="username.length<1 && validLogin">
      </p-message>
      <input #inpass type="password" class="form-field animation a4" placeholder="Password" [(ngModel)]="password"
        (keypress)="keypressPassword($event)">
      <p-message severity="error" text="Password is required" *ngIf="password.length<1 && validLogin">
      </p-message>
      <p class="animation a5"><a (click)="op.toggle($event)">¿Olvidaste tu password?</a></p>
      <button pButton type="button" icon="pi pi-check" iconPos="left" label="Log In" class="animation a6"
        (click)="login()"></button>
    </div>
  </div>
  <div class="right"></div>
</div>
